html, body {
  height: 100%;
  width: 100%;
}
.slide_img{
  margin: 0;
}
header{
  width:100%;
  position: relative;
  margin: auto;
}
img{
  height: 400px;
  width: 100%;
  display: none;
  position:absolute;
  top: 0;
  left: 0

}

.slide_button div{
  background-color: grey;
  opacity:0;
  padding: 150px 5px;
  cursor: pointer;
  margin:10px;
  position: absolute;
/*   height: 300px; */
/*   display: flex;
  text-align: center;
  align-content:center;
  justify-content: center; */

}
.slide_button div:hover{
  background-color: #5d5b5b;
  opacity:0.5;

}
.prev{
    top: 10px;
  
}
.fswd{
    top: 10px;
  right:0;
}

